<% content_for :title do %>
    <%= @blog.title %>
<% end %>

<div class = "container">
    <div class = "row">
        <div class = "col-xs-12 col-sm-9">
            <div class="row">
                <div class = "col-sm-12">
                    <div class = "panel panel-default">
                        <div class = "panel-body">
                            <div class = "page-header">
                                <h3 id="article-title">
                                	<%= @blog.title %>
                                	<small><%= @blog.author %></small>
                                </h3>
                            </div>

                            <!--Check featuredImg/articleImg-->
                            <%= image_tag @blog.image_id, class: "img-article img-responsive img-blog" %>

                            <p id = "main-text">
                            	<%= @blog.article %>
                            </p>
                        </div>
                        <% if current_user %>
                            <div class="panel-footer">
                                <%= form_for @comment, html: {class: 'form-horizontal'} do |form| %>
                                    <div class='form-group'>
                                      <%= label_tag :text_val, 'Comment:', class: 'col-sm-2 control-label' %>
                                      <div class="col-sm-12">
                                        <%= form.text_area :content, class: 'form-control' %>
                                      </div>
                                    </div>
                                    <%= form.hidden_field :blog_id, value: @blog.id %>
                                    <div class="form-group">
                                      <div class="col-sm-12">
                                        <%= form.submit 'Create Comment', class: 'btn btn-primary pull-right' %>
                                      </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <%= render 'shared/related_sidebar', :items => @blogs, title: 'title', subtitle: 'author', controller_path: 'blog', path: 'id' %>
    </div>

    <% if @comments.any? %>
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center">Comments</h3>
                    </div>
                    <div class="panel-body">
                        <% @comments.each do |comment| %>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center col-sm-3 col-xs-2"><%= comment.user.full_name %></div>
                                    <div class="col-lg-8 col-sm-7 col-xs-8"><%= comment.content %></div>
                                    <% if current_user == comment.user %>
                                        <%= button_to 'Remove', {controller: 'comments', action: 'destroy', id: comment.id}, method: :delete, class: 'btn btn-danger btn-sm btn-responsive center-block col-lg-1 col-xs-2', data: {confirm: 'Are you sure you want to remove this Comment?'} %>
                                    <% else %>
                                        <div class="text-center col-lg-1 col-xs-2"><%= comment.created_at.strftime('%b %d') %> </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>